asgiref==3.6.0
attrs==22.2.0
cfgv==3.3.1
distlib==0.3.6
Django==3.2
django-debug-toolbar==3.4.0
django-split-settings==1.2.0
exceptiongroup==1.1.0
Faker==16.6.1
filelock==3.9.0
flake8==4.0.0
identify==2.5.17
iniconfig==2.0.0
mccabe==0.6.1
nodeenv==1.7.0
packaging==23.0
platformdirs==3.0.0
pluggy==1.0.0
pre-commit==3.0.4
psycopg2-binary==2.9
pycodestyle==2.8.0
pyflakes==2.4.0
pytest==7.2.1
python-dateutil==2.8.2
python-dotenv==0.21.1
pytz==2022.7.1
PyYAML==6.0
six==1.16.0
sqlparse==0.4.3
tomli==2.0.1
virtualenv==20.19.0
